*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(32,32,32);
    font-family: 'IBM Plex Serif', serif;
}
body{
    font-family: 'IBM Plex Serif', serif;
    background-image:url('images/pozadie1.jpeg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    justify-content: center;
    align-items: center;
}
.hero{
    position: absolute;
    width: 50%;
    margin-left: 0px;
    margin-top: 0px;
}
.vitajte{
    color: black;
    text-transform: uppercase;
    font-size: 500%;
    text-align: center;
    margin-top: 10%;
}
.vitajte1{
    color: black;
    text-transform: uppercase;
    font-size: 500%;
    text-align: center;
    margin-top: 40%;
}
.onas{
    color: black;
    text-transform: uppercase;
    font-size: 400%;
    text-align: center;
    margin-top: 20%;
}
.meno{
    color: white;
    letter-spacing: 6px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%;
}
.nav-links a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}
.nav-links li{
    list-style: none;
}
.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
@media screen and (max-width:2000px){
    .nav-links{
        width: 40%;
    }
}

@media screen and (max-width:1400px){
    .nav-links{
        width: 40%;
    }
    .vitajte{
        font-size: 300%;
    }
    .vitajte1{
        font-size: 300%;
    }
    .onas{
        font-size: 300%;
    }
}

@media screen and (max-width:1200px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 900px){
    body{
        overflow-x: hidden;
    }
    .nav-links{ 
        position: absolute;
        right:0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(32,32,32);
        display: flex;
        flex-direction: column;
        align-items: center;    
        width: 40%;
        transform: translateX(200%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .card{
        width: 50%;
    }

    .vitajte{
        font-size: 200%;
    }
    .vitajte1{
        font-size: 200%;
    }
    .onas{
        font-size: 200%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(60px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
